<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/cover.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <header class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">File API</h3>
                </div>
            </header>

            <article class="inner cover">
                <h1 class="cover-heading">Logs Upload Example</h1>
                <p class="lead">File API를 이용한 로그 업로드 예제를 살펴봄으로써,<br/>사용 방식과 인터페이스를 이해해 봅시다.</p>

                <article class="console clearfix">
                    <p>/images/스크린샷 2014-07-17 오전 11.39.07.png 업로드 완료.</p>
                    <p>/images/스크린샷 2014-07-17 오전 11.39.08.png 업로드 완료.</p>
                    <p>/images/스크린샷 2014-07-17 오전 11.39.09.png 업로드 완료.</p>
                    <p>/images/스크린샷 2014-07-17 오전 11.39.11.png 업로드 완료.</p>
                    <p>/images/스크린샷 2014-07-17 오전 11.39.11.png 업로드 완료.</p>
                    <p>/images/스크린샷 2014-07-17 오전 11.39.12.png 업로드 완료.</p>
                </article>

                <p class="lead">
                    <a href="#" id="btn-upload" class="btn btn-lg btn-info">로그 업로드</a>
                </p>
            </article>

            <footer class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>
<div class="tab tab-a"></div>
<div class="tab tab-b"></div>
<div class="tab tab-c"></div>
<script type="text/x-handlebars-template" id="media">
    <li>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail" title="{{file-name}}" data-name="{{name}}">
                <img src="{{data_url}}">
            </a>
        </div>
    </li>
</script>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/handlebars/handlebars.min.js"></script>
<script src="/javascripts/Uploader.js"></script>
<script src="/javascripts/Logs.js"></script>
<script>
    var uploader = new Uploader({path : 'public/logs'}),
        logs = new Logs(uploader);
</script>
</body>
</html>